# TODO: describe this package.

package(
    default_applicable_licenses = [
        "//koladata:license",
    ],
    default_visibility = [
        "//koladata:internal",
    ],
)

licenses(["notice"])
